.mdl-layout .mdl-layout__header{
    background-color: #27374d !important;
    font-family: 'Quicksand', sans-serif;
}

.mdl-layout__header-row {
    background-color: #27374d;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}
.mdl-layout__header-row .mdl-layout-title, 
.mdl-layout__header-row .mdl-navigation .mdl-navigation__link {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.mdl-layout .mdl-layout__header-row .home-button,
.mdl-layout .mdl-layout__header-row .about-button{
    position: relative;
    height: 30px;
    width: 100px;
    margin: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #27374d;
    color: white;
    background-color: #27374d;
    border-radius: 5px;
    transition: opacity .35s ease, background-color .35s ease, color .35s ease;
    font-family: 'Quicksand', sans-serif;
}

.mdl-layout .mdl-layout__header-row .home-button:hover,
.mdl-layout .mdl-layout__header-row .about-button:hover {
    background-color: white;
    color: #27374d;
}

.mdl-layout .mdl-layout__content .home-button-2 {
    display: inline-block;
    height: 30px;
    width: 100px;
    border: 2px solid #27374d;
    color: white;
    background-color: #9db2bf;
    border-radius: 5px;
    transition: opacity .35s ease, background-color .35s ease, color .35s ease;
    font-family: 'Quicksand', sans-serif;
}

.mdl-layout .mdl-layout__content .home-button-2:hover {
    background-color: #27374d;
    color: white;
}